body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:160px;
  width:690px;
  height:150px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:150px;
}
#u1 {
  position:absolute;
  left:2px;
  top:67px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:31px;
  width:129px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:640px;
  top:40px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:210px;
  top:240px;
  width:440px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:130px;
  top:240px;
  width:81px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:664px;
  top:240px;
  width:100px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u11 {
  position:absolute;
  left:127px;
  top:172px;
  width:639px;
  height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  white-space:nowrap;
}
