body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:50px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:31px;
  width:129px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:640px;
  top:40px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:20px;
  top:114px;
  width:780px;
  height:266px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:266px;
}
#u6 {
  position:absolute;
  left:2px;
  top:125px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:40px;
  top:90px;
  width:177px;
  height:23px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:23px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:40px;
  top:140px;
  width:735px;
  height:171px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:243px;
  top:0px;
  width:243px;
  height:36px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:239px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:486px;
  top:0px;
  width:244px;
  height:36px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:36px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:36px;
  width:243px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:243px;
  top:36px;
  width:243px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:486px;
  top:36px;
  width:244px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:66px;
  width:243px;
  height:100px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:100px;
}
#u23 {
  position:absolute;
  left:2px;
  top:42px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:243px;
  top:66px;
  width:243px;
  height:100px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:42px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:486px;
  top:66px;
  width:244px;
  height:100px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:100px;
}
#u27 {
  position:absolute;
  left:2px;
  top:42px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:70px;
  top:31px;
  width:129px;
  height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:332px;
  top:22px;
  width:93px;
  height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
