body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:90px;
  width:620px;
  height:240px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:240px;
}
#u1 {
  position:absolute;
  left:2px;
  top:112px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:31px;
  width:129px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:640px;
  top:40px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u7 {
  position:absolute;
  left:320px;
  top:110px;
  width:180px;
  height:200px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:200px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:120px;
  top:110px;
  width:180px;
  height:200px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:200px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:520px;
  top:110px;
  width:180px;
  height:200px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:200px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
